.feedback-form {
    display: grid;
    place-items: center;
    background-color: rgb(207, 145, 233);
}

.auth-form {
    background-image: url(background1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    place-items: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 500px;
    padding: 20px;
    background-color: rgb(229, 200, 241);
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.new-styles {
    border-width: 5px;
    border-image: linear-gradient(#fbea2c, #b426f1, #0079ff);
    border-style: solid;
    border-image-slice: 1;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.no-block {
    display: initial;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
}

.btn {
    background-color: #b426f1;
    width: 100%;
}